*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.header{
    background-image: url('../imges/pexels-igor-haritanovich-814387-1695052.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    width: 100%;
    height: 100vh;

   
}

.nav{
    display: flex;
   justify-content: space-between;
    padding: 30px 5%;
  
  
}
/* .nav.sticky{
    background-color: chocolate;
    padding: 10px 5%;
    box-shadow: 2px 2px 7px 2px rgba(175,177,177);
    transition: all 0.42;
    color: chocolate;
} */
.logo a{
    font-size: 30px;
    color: white;
}
.list{
    display: flex;
    align-items: center;
 
}
.item{
    margin:0 20px;
  
}
.link{
    font-size: 18px;
    color: white;

}
.link:hover{
    text-decoration: overline;
}
.logo-list{
    display: flex;
    align-items: center;
}
.logo-item i{
   margin: 0 40px;
    font-size: 18px;
    color: white
}
.btn{
    padding: 10px 25px;
    border: none;
    background-color: chocolate;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.42s;

}
.btn:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.42s;
}

.hot{
   margin-top: 120px;
    width: 60%;
    padding: 30px 5%;
    
}
.hot-titel{
    font-size: 62px;
    color: white;

}

.hot-discription{
    margin: 20px 0;
    color: white;

}

#menu-icon{
    display: none;
    font-size: 30px;
    margin-top: -5px;
    color: white;
    z-index: 10001;
    cursor: pointer;
}



/* section  */
 main{
    color: white;
    background-color: #212121;
 
} 
section{
    padding: 20px 60px;
   
}
.best{
    display: flex;
    align-items: center;
   padding: 150px 60px 20px 60px;
    gap: 40px;
    
}
.best-2{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
}
.best-img{
    width: 250px;
    height: auto;
    border-radius: 12px;
    
}
.best-img:hover{
    transition: 0.42s;
    transform: translateY(-9px);
}


.best-sub{
    font-size: 50px;
    margin: 10px 0;
    color: chocolate;
}
.leam{
    margin-top: 50px;
}




/* section product */

.product1{
    text-align: center;
    margin: 40px 0;
}
.product2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product-continar{
  background-color: white;
    border-radius: 15px;
    padding: 10px;
    color: black;
}
.product-continar:hover{
    transition: all 0.42s;
    transform: translateY(-9px);
}
.product-img{
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.product-titel{
    font-size: 24px;
    margin: 10px 0;
}


/* services section */

.service{
    display: flex;
    gap: 30px;
    margin-top: 100px;
}
.service2{
    text-align: center;
   
}
.types2{
    margin-top: 30px;
}
.types1 i{
    color: chocolate;
    font-size: 34px;
}



/* gallary section */
.gallery{
    margin-top: 100px;
    
}
.gallery-continar{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
}
.gallery-img{
    width: 270px;
    height: 350px;
    margin-bottom: 40px;
    border-radius: 15px;
}
.gallery-img:hover{
    transform: translateY(-9px);
    transition: all 0.42s;
}



/* what customers */

.what-continar{
    width: 70%;
    margin: 0 auto;
   text-align: center;
   margin-top: 50px;
}
.what-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.what-titel{
    font-size: 36px;
    margin: 20px;
    color: chocolate;
}
.icon{
    margin-top: 50px;
    display: flex;
    text-align: center;
    display: block;
 
}
.icon i{
font-size: 30px;
color: white;
margin-right: 30px;


}
.icon i:hover{
    color: chocolate;
}




/* advan section */

.advan{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.advan-continar{
 background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.advan-img{
    width: 100%;
    border-radius: 15px;
}

.view{
    display: flex;
  margin: 15px 0;
    justify-content: space-between;
}
.icons i {
    margin-right: 10px;
    color: black;
   
}
.icons i:hover{
    color: chocolate;
}






/* footer  */
footer{
    background-color: #212121;
    padding-top: 100px;
}
.footer1{
    background-color: chocolate;
    color: white;
 
    display: grid;
   grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 20px 60px;
}
.footer-discriptions{
    margin-top: 20px;
    transition: all 0.42s;
    transform: translateX(9px);
}
.footer-titel{
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-titel:hover{

    transition: all 0.42s;
    transform: translateX(-5px);
}
.footer-discriptions:hover{

    transition: all 0.42s;
    transform: translateX(-5px);
}
.footer-discription2{
    margin-top: 8px;
}
.footer-discription2:hover{
    transition: all 0.42s;
    transform: translateX(-5px);
}
.input{
    margin-top: 20px;
}
.input input{
    padding: 5px 5px;
    width: 75%;
}



.footer-condition{
    background-color: #212121;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.submit{
    padding: 6.4px 20px; 
    margin-left: -5px;
    background-color: black;
    color: white;
    border: none;
}






/* about html file */
.about{
    background-image: url('../imges/innerbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh ;

}
.about-titel{
text-align: center;
margin-top: 200px;
  
font-size: 64px;
    color: white;
}


/* heart section  */
.heart{
    display: flex;
    gap: 40px;
    padding-top: 100px;
    align-items: center;
}
.heart-sub{
    color: chocolate;
    font-size: 64px;
    margin: 10px 0;
}
.heart-we{
    font-size: 64px;
}
.heart-discription{
   margin-bottom: 30px;
}
.heart-img{
    width: 350px;
    height: 400px;
    border-radius: 15px;
    
}
.imges{
    width: 400px;
    height: 450px;
    border-radius: 15px;
}
.heart-img:hover{
    transform: translateY(-5px);
    transition: all 0.42s;
}

.imges:hover{
    transform: translateY(-5px);
    transition: all 0.42s;
}


/* aroma section */
.aroma{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 100px;
}

.aroma-continar{
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px ;
    border-radius: 15px;

}
.aroma-continar i{
    font-size: 30px;
    color: chocolate;
}
.aroma-continar:hover{
    transform: translateY(-9px);
    transition: all 0.42s;
}


.aroma-titel{
    margin: 20px 0;
    font-size: 25px;
}

/* about banner section */
.all{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../imges/banner4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-top: 100px;
}
.all-continar{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.all-titel{
    color: chocolate;
    text-align: start;
}
.all-sub{
    font-size: 35px;
}
.all-discription{
    margin: 20px 0;
}


/* membar section  */

.membar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
    margin-top: 100px;
}
.membar-continar{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 15px;
}
.membar-continar:hover{
    transform: translateY(-9px);
    transition: all 0.42s;
}
.membar-titel{
    font-size: 24px;
    margin: 10px 0;
}

.membar-img{
    width: 250px;
    height: auto;
    border-radius: 15px;
}
.membar-icon i{
    margin: 10px 10px;
    font-size: 25px;
    color: black;
}

.membar-icon i:hover{
    color: chocolate;
    transition: all 0.42s;
}



/* Our coffee html file  */

.latter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    align-items: center;
    padding-top: 150px;

}

.latter-titel{
    font-size: 60px;
    color: chocolate;
    margin-bottom: 10px;
}
.latter-discription{
    margin: 10px 0 40px 0;
}
.latter-imges{
    display: flex;
}
.latter-imges img{
    width: 300px;
    border-radius: 15px;
}
.latter-imges img:hover{
    transform: translateY(-9px);
    transition: all 0.42s;
}

.said-imges img{
    width: 600px;
    border-radius: 15px;
}
.said-imges img:hover{
    transform: translateY(-9px);
    transition: all 0.42s;
}
.latter-said{
    font-size: 45px;
}
.imge{
   height: 300px;
}




/* contack html file */

.location,.information{
    display: flex;
    gap: 50px;
    
    padding-top: 120px;
}
.location-continar{
    display: flex;
    gap: 30px;
}
.location-continar i{
    color: white;
    font-size: 30px;
}
.location-continar i:hover{
    color: chocolate;
}
.location-titel{
    font-size: 25px;
}
.location-continar p{
    margin-top: 10px;
}
form{
    margin-top: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.information{
    padding-right: 20px;
}
.name,.comment{
    width: 500px;
    padding: 10px 8px;
    margin: 10px 0;
    border-radius: 15px;
}

.submits{
 text-align: end;
}
.submit-input{
      padding: 10px 25px;
      background-color: chocolate;
      border: none;
      color: white;
      margin-top: 20px;
      margin-right: 20px;
      border-radius: 15px;

}





















@media screen and (max-width:980px) {
    #menu-icon{
        display: block;
    }
    .list{
        position: absolute;
        top: 80px;
         right: 100%; 
        width: 300px;
        height: 80vh;
        display: flex;
        background-color: #212121;
        flex-direction: column;
        align-items: center;
      justify-content: center;
        transition: all 0.42s;
        border-radius: 15px;

   

    }
    
   
    .list a{
        display: block;
        margin:20px 0;
    }
  
    .list.open{
        right: 0;
    }
    .btn{
        padding:10px 15px;
    }
   
        header{
            padding: 0px 5% 30px 0;
        }
        main{
            padding: 30px 5% 30px 0;
          
            }
            .best-1{
                padding: 30px;
            }
}

@media screen and (max-width:580px) {
 
    .logo-list{
    align-items: start;

    justify-content: start;
   }
   .nav{
    padding-right: 0;
   }
   
    .logo a{
        font-size: 18px;
    }
    .logo-item i{
        margin: 0 20px;
        align-items: start;
    }
    
  
    .btn{
        margin-top: -25px;
    }
    .header{
        width: 100%;
        height: 100vh;
       
    }
    .hot{
        margin-top: 70px;
        width: 70%;
    }
    .hot-titel{
        font-size: 30px;
    }

    .best{
        flex-direction: column;
       
    }
    .best-2.product2,.advan, .best-2{
        grid-template-columns: repeat(1,1fr);
       
    }
    .product2,.gallery-continar,.footer1{
        grid-template-columns: repeat(1,1fr);

       
    }
    .gallery-img{
        width: 350px;
    }
    .best{
        margin-top: 0;
        gap: 20px;
    }
    .best-1{
        padding: 0px;
    }

    .best-img{
        width: 400px;
        height: 350px;
        justify-items: center;
        
    }
    .leam{
        margin-top: 50px;
    }


    .service{
        flex-direction: column;
    }

    .what-continar{
        width: 100%;
        margin: 0 auto;
       
    }
    .product-continar{
        margin-left: -10px;
    }
   .ad{
    font-size: 20px;
   }
   .view{
    margin: 50px 0 0 0 ;

    flex-direction: column;
   
   }
   .view i{
    margin-top: 20px;
   }

   .heart{
    padding: 25px 0 25px 25px;
    flex-direction: column;
   }
   .heart-sub{
    font-size: 40px;
   }
   .heart-img{
    width: 100%;
   }
   .heart-we{
    font-size: 25px;
    margin: 20px 0;
   }
   .aroma,.membar{
    padding: 25px 0 25px 25px;
    grid-template-columns: repeat(1,1fr);
   }



.all{
    width: 95%;
    margin: 0 auto;
    height: 70vh;
    margin-left: 25px;
}
.all-continar{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.all-sub{
   font-size: 25px;
   margin-top: 5px;
   text-align: start;
}
   .membar-img{
    width: 100%;
    height: 400px;

   }
   .footer1{
    padding: 25px 0 25px 25px;
   }










   /* our coffee html */
   .latter{
    padding: 25px 0 25px 25px;
    grid-template-columns: repeat(1,1fr);
   }
   .latter-imges{
    flex-direction: column;
  
   }
   .latter-imges img{
    width: 100%;
    margin-top: 20px;
   }
   .latter-said{
    font-size: 30px;
   }
   .said-imges img{
    width: 430px;
   }
   .footer1{
    padding: 25px 25px 25px 25px;
   }
   .location{
    flex-direction: column;
    padding: 25px 25px 25px 25px;
   }

   .information{
    flex-direction: column;
    gap: 0;
    padding: 25px 25px 25px 25px;
 }
 .name,.comment{
     width: 100%;
 }
 iframe{
    width: 100%;
 }
 .footer1{
    padding: 25px 25px 25px 25px;
 }

    
}

@media screen and (min-width:581px) and (max-width:780px) {
 
   #menu-icon{
    font-size: 28px;
  

   }
   
    .logo a{
        font-size: 24px;
    }
    .header{
        width: 100%;
        height: 100vh;
       
    }
    .logo-item i{
        margin: 0 40px;
    }
    .hot{
        margin-top: 0;
    }
    .best{
        flex-direction: column;
        padding: 30px 60px 20px 40px;
        gap: 20px;
       
    }
    .best-1{
        padding: 0;
    }
    .best-2, .gallery-continar{
        grid-template-columns: repeat(2,1fr);
    }
    .best-img{
        width: 300px;
        height: 350px;
        justify-items: center;
        
    }
   

    .product2{
        grid-template-columns: repeat(2,1fr);
        margin-left: -15px;
    }
    .product-img{
        width: 290px;
        height: 350px;
    }
    .service{
        flex-direction: column;
    }
    .gallery-img{
        width: 100%;
        height: 350px;

    }
    .what-continar{
        width: 100%;
        margin: 0 auto;
       
    }
    section{
        padding: 20px 40px 0px 40px;
    }

    .footer1,.advan{
        grid-template-columns: repeat(1,1fr);
    }

    .heart{
        padding: 30px 0 30px 30px;
        flex-direction: column;
       }
       .heart-sub{
        font-size: 40px;
       }
       .heart-img{
        width: 100%;
       }
       .heart-we{
        font-size: 25px;
        margin: 20px 0;
       }
       .aroma{
        padding: 30px 0 30px 30px;
        grid-template-columns: repeat(1,1fr);
       }
       .membar{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
       }
    
    
    
    .all{
        width: 95%;
        margin: 0 auto;
        height: 70vh;
        margin-left: 25px;
        justify-content: center;
    }
    .all-continar{
        width: 90%;
        margin: 0 auto;
        text-align: center;
       
    }
    .all-sub{
       font-size: 25px;
       margin-top: 5px;
       text-align: start;
    }
       .membar-img{
        width: 100%;
        height: 400px;
       }
       .footer1{
        padding: 30px 0 30px 30px;
       }




       /* coffee html file */
       .favaourite{
        font-size: 45px;
       }
       .latter{
        grid-template-columns: repeat(1,1fr);
        padding: 30px 0 30px 30px;
       }
       .btn{
        padding: 10px 25px;
       }

       .footer1{
        padding: 30px 20px 30px 30px;
       }
       .information{
        flex-direction: column;
        gap: 0;
     }
     .name,.comment{
         width: 100%;
     }

    

}
















@media screen and (min-width:781px) and (max-width:980px){
    #menu-icon{
        font-size: 32px;

       }


       section{
        padding: 20px 40px 10px 40px;
    }
      
       
        .logo a{
            font-size: 24px;
        }
        .header{
            width: 100%;
            height: 100vh;
           
        }
        .logo-item i{
            margin: 0 40px;
        }

        .hot{
            margin-top: 40px;
        }
        .hot-titel{
            font-size: 50px;
        }
        .best{
            flex-direction: column;
            padding: 30px 60px 20px 40px;
            gap: 20px;
           
        }
        .best-1{
            padding: 0;
        }
        .best-2,.membar{
            grid-template-columns: repeat(3,1fr);
        }
        .best-img{
            width: 255px;
            height: auto;
            justify-items: center;
            
        }
        .btn{
            padding: 10px 25px;
        }
        .best-2, .gallery-continar, .footer1{
            grid-template-columns: repeat(3,1fr);
        }
        .product2{
            grid-template-columns: repeat(3,1fr);
            
        }
        .product-img{
            width: 250px;
            height: 350px;
        }
        .what-continar{
            width: 100%;
            margin: 0 auto;
           
        }
        .service{
            gap: 10px; 
        }
        .footer1{
            grid-template-columns: repeat(2,1fr);
        }
        .input input{
            width: 65%;
        }
        .all-sub{
            text-align: start;
        }
        .heart-we{
            font-size: 30px;
        }
        .heart-sub{
            font-size: 48px;
        }



        /* our coffee html file */
        .latter{
            padding: 30px 10px 30px 30px;
            padding-top: 50px;
            
        }
        .favaourite{
            font-size: 45px;
        }

        .Americano{
            font-size: 40px;
        }
        .said-imges img{
            width: 430px;
        }
        .latter-said{
            font-size: 35px;
        }
        .footer1{
            padding: 30px 0px 30px 30px;
        }
        .information{
           flex-direction: column;
        }
        .name,.comment{
            width: 100%;
        }

}















@media screen and (min-width:981px) and (max-width:1200px){
    .item{
        margin-right: 30px;
    }
  .logo a{
    font-size: 25px;
  }
  .best-sub{
    font-size: 38px;
  }
  section{
    padding: 20px 40px 10px 40px;
}
.logo-item i{
    margin: 0 40px;
}
.what-continar{
    width: 100%;
    margin: 0 auto;
   
}
.hot{
    margin-top: 50px;
}
.product2{
    grid-template-columns: repeat(3,1fr);
    margin-right: 20px;
    
}
.product-img{
    width: 100%;
    height: 350px;
}
.gallery-continar{
    margin-right: 20px;
}
.gallery-img{
    width: 100%;
    height: 350px;
}

.input input {
   width: 70%;
}

.heart-we{
    font-size: 45px;
}
.membar-img{
    width: 100%;
}
.item{
    margin: 0 10px;
    margin-left: 10px;
}
.nav{
    padding: 30px 0 30px 30px;
}
.name,.comment{
   width: 350px;
}



}